  <link rel="stylesheet" href="/frontend/assets/css/common/footer.css" />
  <link rel="stylesheet" href="/frontend/assets/css/main.css" />
  <div id="footer">
    <button id="toggle-footer"><span id="arrow">⬇️</span></button>
    <p><b>계약 문의</b><p>
    <p>저희 판매 사이트와 계약을 원하시는 출판사는 이메일을 입력해주세요! 담당자가 연락드리겠습니다. </p>
    <div class="subscribe">
      <input type="email" placeholder="출판사 이메일 입력">
      <button>send</button>
    </div>
    <div class="team-name">Team Senergy</div>
    <small class="ceo-name">대표이사 노지혜</small>
  </div>
  <script src="/frontend/assets/js/common/footer.js"></script>