body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 2px solid #ccc;
  }
  
  header input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.new-book-filter{
  margin-bottom: 20px;
}

  nav a, .login-button {
    margin-left: 1rem;
    text-decoration: none;
    color: #333;
  }
  
  .section {
    padding: 2rem;
  }
  
  .section h2 {
    margin-bottom: 1rem;
  }
  
  .button {
    background-color: #FFC107;
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
  
  .book {
    text-align: center;
  }
  
  .book img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .book .cart-button {
    margin-top: 0.5rem;
    padding: 0.3rem 0.8rem;
    background-color: #f8be00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .genre-filter {
    margin-bottom: 1rem;
  }
  
  footer {
    background-color: #f9f9f9;
    padding: 2rem;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  
  .book p a {
    color: #693111;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .subscribe {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .subscribe input[type="email"] {
    padding: 0.5rem;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .subscribe button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #FFC107;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
  }
  
  .show {
    opacity: 1;
    transform: translateY(0);
  }
  